services:
  web:
    image: nginx
    ports:
      - "80:80"
#      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/html:/usr/share/nginx/html
#      - ./nginx/ssl:/etc/nginx/ssl
